#cards {
    background-color: white;
    border-radius: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.card {
    border-radius: 1rem;
    border: 1px solid #294692;
    box-shadow: 2px 2px rgba(100, 100, 100, 0.6);
    box-shadow: 4px 4px rgba(100, 100, 100, 0.2);
    background-color: honeydew;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.card-heading {
    color: #432A93;
    padding: 0.5rem;
    font-size: x-large;
}

.card-image {
    border-radius: 0.25rem;
}

.card-text {
    color: #2A7993;
    padding: 0.5rem;
}